# Working with Text Data in pandas

In [1]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])

In [2]:
df['text'].values

array(["Monday: The doctor's appointment is at 2:45pm.",
       "Tuesday: The dentist's appointment is at 11:30 am.",
       'Wednesday: At 7:00pm, there is a basketball game!',
       'Thursday: Be back home by 11:15 pm at the latest.',
       'Friday: Take the train at 08:10 am, arrive at 09:00am.'],
      dtype=object)

In [3]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [4]:
df['text'].str.split().values

array([list(['Monday:', 'The', "doctor's", 'appointment', 'is', 'at', '2:45pm.']),
       list(['Tuesday:', 'The', "dentist's", 'appointment', 'is', 'at', '11:30', 'am.']),
       list(['Wednesday:', 'At', '7:00pm,', 'there', 'is', 'a', 'basketball', 'game!']),
       list(['Thursday:', 'Be', 'back', 'home', 'by', '11:15', 'pm', 'at', 'the', 'latest.']),
       list(['Friday:', 'Take', 'the', 'train', 'at', '08:10', 'am,', 'arrive', 'at', '09:00am.'])],
      dtype=object)

In [5]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [6]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [7]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [8]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [9]:
df['text'].str.findall(r'\d+')

0             [2, 45]
1            [11, 30]
2             [7, 00]
3            [11, 15]
4    [08, 10, 09, 00]
Name: text, dtype: object

In [10]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')
#same

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [11]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [12]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [13]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')
#same
# df['text'].str.extract(r'(\d+):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [14]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [15]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [2]:
test = pd.DataFrame(['abc', 'a', 'ab', 'ac'], columns=['text'])
print(test['text'].str.findall(r'a(?:b|c)'))
print(test['text'].str.findall(r'a(?!b)'))
print(test['text'].str.findall(r'a(?=b)'))
print(test['text'].str.findall(r'(?<=a)b'))
print(test['text'].str.findall(r'(?<!a)(?:\w)'))
print(test['text'].str.findall(r'(?<!a)(?:[^a])'))
print(test['text'].str.findall(r'a(b|c)'))

0    [ab]
1      []
2    [ab]
3    [ac]
Name: text, dtype: object
0     []
1    [a]
2     []
3    [a]
Name: text, dtype: object
0    [a]
1     []
2    [a]
3     []
Name: text, dtype: object
0    [b]
1     []
2    [b]
3     []
Name: text, dtype: object
0    [a, c]
1       [a]
2       [a]
3       [a]
Name: text, dtype: object
0    [c]
1     []
2     []
3     []
Name: text, dtype: object
0    [b]
1     []
2    [b]
3    [c]
Name: text, dtype: object

In [3]:
"""
-> (?=foo)  Lookahead           Asserts that what immediately follows the current position in the string is foo
<- (?<=foo) Lookbehind          Asserts that what immediately precedes the current position in the string is foo
-> (?!foo)  Negative Lookahead  Asserts that what immediately follows the current position in the string is not foo
<- (?<!foo) Negative Lookbehind Asserts that what immediately precedes the current position in the string is not foo
"""

import re

sample = "100in200 dollars"
sample2 = "300in400 pesos"
sample3 = "500inUSD600"
sample4 = "700inJPY800"

#**Lookahead after the match
print(re.findall('\d+(?= dollars)', sample)) # ['200']
#Lookahead before the match
print(re.findall('(?=\d+ dollars)\d+', sample)) # ['200']

#**Negative Lookahead after the match
print(re.findall('\d{3}(?! dollars)', sample)) # ['100'] # same as re.findall('\d+(?!\d| dollars)', sample)
print(re.findall('\d+(?!\d| pesos)', sample2)) # ['300']
#Negative Lookahead before the match
print(re.findall('(?!\d+ dollars)\d+', sample)) # ['100']
print(re.findall('(?!\d+ pesos)\d+', sample2)) #['300']

#**Lookbehind before the match
print(re.findall('(?<=USD)\d{3}', sample3)) #['600']
#Lookbehind after the match
print(re.findall('\d{3}(?<=USD\d{3})', sample3)) #['600']

#**Negative Lookbehind before the match
print(re.findall('(?<!JPY)\d{3}', sample4)) #['700']
#Negative lookbehind after the match
print(re.findall('\d{3}(?<!JPY\d{3})', sample4)) #['700']

#Non-capturing groups
print(re.findall('\d+(?: dollars)', sample)) # ['200 dollars']

['200']
['200']
['100']
['300']
['100']
['300']
['600']
['600']
['700']
['700']
['200 dollars']

In [46]:
text = 'English "Hello", Spanish "Hola"'
print(re.findall(r'".+"', text))
print(re.findall(r'("\w+")', text))

['"Hello", Spanish "Hola"']
['"Hello"', '"Hola"']